<p>
	Fill in your email below and we'll send you a link to reset your password.
</p>

<%= simple_form_for(resource, :url => password_path(resource_name)) do |f| %>


	<div class="form-group">
		<%= f.label :email, 'Your email address' %>
		<%= f.email_field :email, class: 'form-control', required: true %>
	</div>

  <%= f.button :submit, 'Reset your password', :class => 'btn-primary' %>
<% end %>