body {
  background-color: #eae6e0;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 0px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


.header {
	background: #2b2f3e;
	height: 100px;
	
	.header_container {
		width: 1100px;
		margin: 0 auto;
		
		h1 {
			margin: 0px;
			height: 100px;
			line-height: 100px;
			font-size: 24px;
			float: left;
			
			a {
				text-transform: uppercase;
				color: #fff;
				text-decoration: none;
				background: transparent;
			}
		}
	}
	
	.nav {
		margin: 0px;
		padding: 0px;
		width: 875px;
		float: left;
		
		li {
			float: left;
			
			a {
				display: block;
				float: left;
				padding: 60px 0px 22px;
				text-transform: uppercase;
				color: #aab2d0;
				position: relative;
				font-size: 16px;
				text-align: center;
				width: 130px;
				font-weight: 200;
				
				&:before {
					content: "\F0AD";
					font-size: 28px;
					position: absolute;
					font-family: FontAwesome;
					top: 30px;
					left: 54px;
					color: #a9afca;
					text-shadow: 0px 0px 2px rgba(0,0,0,.3);
					font-weight: 100;
				}
				
				&:hover {
					background: transparent;
					color: #d5d9eb;
					
					&:before {
						color: #d5d9eb;
					}
				}
			}
			
			&.course a:before {
				content: "\F02D";
			}
			
			&.discussion a:before {
				content: "\F0C0";
			}
			
			&.resources a:before {
				content: "\F0AD";
			}
			
			&.edit_account {
				
				border: solid #454c67 1px;
				margin: 30px 0px 30px 30px;
				// replace with SCSS once it's working
				-webkit-border-radius: 24px;
				-moz-border-radius: 24px;
				-border-radius: 24px;
				float: right;
				
				
				a:before {
					display: none;
				}
				
				a {
					padding: 15px;
					color: #929ab5;
					font-size: 12px;
					
					&.logout {
						width: 30px;
						height: 30px;
						text-indent: 100%;
						white-space: nowrap;
						overflow: hidden;
						margin: 10px 10px 10px 0px;
												
						&:after {
							content: "\F011";
							font-size: 24px;
							position: absolute;
							font-family: FontAwesome;
							top: 6px;
							left: 0px;
							color: #929ab5;
							text-shadow: 0px 0px 2px rgba(0,0,0,.3);
							display: block;
						}
						
						&:hover, &:hover:after {
							color: #fff;
						}
					}
				}
			}
		}
	}
}

.container {
	width: 1100px;
	margin: 0 auto;
}

.content {
	width: 700px;
	padding: 50px;
	float: left;
	background: #fff;
	
	// replace with SCSS once it's working
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	position: relative;
	z-index: 20;
}

.sidebar_tabs {

	width: 300px;
	float: left;
	position: relative;
	z-index: 10;
	
	.tabs {
		list-style: none;
		margin: 0px;
		padding: 0px;
	
		li {
			padding-left: 20px;
			
			.tab {
				display: block;
				padding: 15px 15px 15px 40px;
				
				
				.module_name {
					display: block;
					font-size: 18px;
					color: #404040;
				}
				
				.status {
					display: block;
				}
				
				&:hover {
					background: none;
					text-decoration: none;
				}
			}
			
			&.locked {
				.module_name {
					color: #8d8d8d;
				}
				
				.status {
					color: #8d8d8d;
				}
			}
			
			&.active {
				padding-left: 0px;
				
				.tab {
					background: #f1ede8;
					border: solid #dfdad4 1px;
					border-left: none; 
					padding-left: 60px;
					
					.module_name {
						color: #566bbc;
					}
				}
			}
		}
	}
}